_site/
.sass-cache/
.jekyll-metadata
.jekyll-cache
Gemfile.lock
*.gem
*.ipynb_checkpoints*
_code/maps.key
_code/*.gpx
_code/*.geojson
_code/*.csv
_code/*.json
_code/*.log
_code/archive_geojson/
_code/archive_gpx/
_code/csv_dbs/
_code/hub_gpx/

