
<style>
.background-modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
    padding-top: 0px;
}

.modal-content {
    background-color: #242943;
    margin: 5% auto 15% auto;
    padding: 5%;
    border: 1px solid #888;
    width: 80%;
    max-width: 800px;
    text-align: left;
}
</style>

<script>

    window.onclick = function(event) {
        if (event.target == document.getElementById('modform1')) {
            document.getElementById('modform1').style.display = "none";
        }
        if (event.target == document.getElementById('modform2')) {
            document.getElementById('modform2').style.display = "none";
        }
        if (event.target == document.getElementById('modform3')) {
            document.getElementById('modform3').style.display = "none";
        }
    }


</script>
<iframe name="hidden_iframe" id="hidden_iframe" style="display: none;" onload="if(submitted)  {document.getElementById('modform1').style.display='none'; document.getElementById('modform2').style.display='none'; document.getElementById('modform3').style.display='none'; }"></iframe>

<div id="modform1" class="background-modal">
    <form class="modal-content animate" id="myForm" action="https://docs.google.com/forms/u/1/d/e/1FAIpQLSfrD0JPkI8LWlt3U-mY_e221lV-iBUkKjOLxJGwv1-DLuLGVQ/formResponse" method="POST" target="hidden_iframe" onsubmit="submitted=true;">
    <h4>Submit a new resource or journey log</h4>
    <p>Thanks for helping to improve the trail! Note that submissions may take a few days to be checked before showing up on the site.</p>
    <!-- hub -->
    <input type="hidden" name="entry.1911631355" value="{{ page.title }}" />
    <!-- type -->
    <label for="resource-type">Type of Resource (required)</label>
    <div class="select-wrapper">
        <select required name="entry.66006066" id="resource-type" style="margin-bottom:1em;">
            <option value="">- Select Type -</option>
            <option value="log">Journey Log</option>
            <option value="public_camp">Camping</option>
            <option value="bike_coop">Bike Co-op</option>
            <option value="gear_store">Used Gear Store</option>
            <option value="food_coop">Natural Foods Store/Co-op</option>
            <option value="hike">BikeToHike Location</option>
        </select>
    </div>

    <div class="field half first">
        <label for="name">Resource Name (required)</label>
        <input required type="text" name="entry.144653277" id="name" />
    </div>
    <div class="field half">
        <label for="description">Link (required)</label>
        <input required type="text" name="entry.1007010679" id="description" />
    </div>
    <div class="field half first">
        <label for="image">GPS Location (optional)</label>
        <input type="text" name="entry.1008402334" id="image" />
    </div>
    <div class="field half">
        <label for="url">Photo URL (optional)</label>
        <input type="text" name="entry.466456218" id="url" />
    </div>
    <div class="field">
        <label for="message">Description (optional)</label>
        <textarea name="entry.40964034" id="message" rows="2"></textarea>
    </div>
    <input type="hidden" name="entry.1491257445" value="">
    <ul class="actions">
        <li><input type="submit" value="Submit" class="special" onclick=''/></li>
        <li><input type="reset" value="Close" onclick="document.getElementById('modform1').style.display='none'"/></li>
    </ul>
</form>
</div>

<div id="modform2" class="background-modal">
    <form class="modal-content animate" id="myForm" action="https://docs.google.com/forms/u/0/d/e/1FAIpQLSfTbdOmklPk8xCeYOZhHdU2sIShKGgD5KTyeW7vP26QV1NlFg/formResponse" method="POST" target="hidden_iframe" onsubmit="submitted=true;">
    <h4>Submit an Event</h4>
    <p>We want to promote all kinds of sustainable travel related events across the country.  If you have something you'd like us to link to please submit it below. Thank you!</p>
    <div class="field">
        <label for="name">Event Link</label>
        <input required type="text" name="entry.238878727" id = "name"/>
    </div>
    <div class="field">
        <label for="message">Any other information (optional)</label>
        <textarea name="entry.1170686538" id="message" rows="2"></textarea>
    </div>
    <ul class="actions">
        <li><input type="submit" value="Submit" class="special" onclick=''/></li>
        <li><input type="reset" value="Close" onclick="document.getElementById('modform2').style.display='none'"/></li>
    </ul>
    </form>
</div>


<div id="modform3" class="background-modal">
    <form class="modal-content animate" id="myForm" action="https://docs.google.com/forms/u/0/d/e/1FAIpQLSfTbdOmklPk8xCeYOZhHdU2sIShKGgD5KTyeW7vP26QV1NlFg/formResponse" method="POST" target="hidden_iframe" onsubmit="submitted=true;">
    <h4>Suggestion Box</h4>
    <p>We're always open to suggestions.  Thanks for your feedback.</p>
    <div class="field">
        <label for="email">email (optional)</label>
        <input type="text" name="entry.1170686538" id="email" />
    </div>
    <div class="field">
        <label for="message">Suggestion/Feedback/Comment</label>
        <textarea name="entry.238878727" id="message" rows="2"></textarea>
    </div>
    <ul class="actions">
        <li><input type="submit" value="Submit" class="special" onclick=''/></li>
        <li><input type="reset" value="Close" onclick="document.getElementById('modform3').style.display='none'"/></li>
    </ul>
    </form>
</div>